@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&family=Roboto&family=Rubik+Burned&family=Source+Sans+Pro&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #f2f0f0;
    margin: 0;
    height: 100vh;
}

/* header element */
.header-container {
    height: 15vh;
    background-color: rgba(58, 118, 201, 1);
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.header-image {
    height: 3.5em;
    padding-right: 10px;
}
.header-text {
    font-size: 2.5em;
    font-family: 'Rubik Burned', cursive;
    color: whitesmoke;
}

/* main content */
#main-container {
    width: 50%;
    height: 100%;
    margin: 30px auto;
}
.input-container {
    display: flex;
    flex-direction: row;
}
#task-input {
    border: none;
    width: 100%;
    height: 45px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#task-input[type="text"] {
    padding-left: 20px;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
}
#task-input:focus {
    border: 1px solid black;
    outline-offset: none;
    outline: none;
}
#btn {
    padding: 10px 25px;
    background-color: #0af765;
    border: none;
    color: white;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#btn:hover {
    cursor: pointer;
    background-color: #05e65b;
}
#delete-btn-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
#delete-btn {
    width: 49%;
    height: 45px;
    background-color: rgba(191, 191, 191, .2);
    border: none;
    border-radius: 5px 5px 5px 5px;
    font-size: 1em;
    font-weight: 600;
    font-family: "Roboto" ,sans-serif;
    color: rgba(28, 27, 27, 0.3);
}
#delete-btn:hover {
    background-color: rgba(191, 191, 191, .5);
    cursor: pointer;
}
#delete-btn:active {
    background-color: rgba(191, 191, 191, .7);
    color: rgba(28, 27, 27, 0.5);
}
#checked-delete-btn {
    width: 49%;
    height: 45px;
    background-color: rgba(191, 191, 191, .2);
    border: none;
    border-radius: 5px 5px 5px 5px;
    font-size: 1em;
    font-weight: 600;
    font-family: "Roboto" ,sans-serif;
    color: rgba(28, 27, 27, 0.3);
}
#checked-delete-btn:hover {
    background-color: rgba(191, 191, 191, .5);
    cursor: pointer;
}
#task-container {
    margin-top: 30px;
    padding: 0;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.task-items {
    position: relative;
    padding: 20px;
    height: 60px;
    background-color: rgba(191, 191, 191, .2);
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
.task-items:only-of-type, .task-items:last-of-type {
    border: none;
}
.task-items:nth-child(even) {
    background-color: rgba(191, 191, 191, .5);
}
.close {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(0, 0, 0, .5);
    position: absolute;
    right: 20px;
}
.close:hover {
    color: rgba(0, 0, 0, .8);
}
#checkbox {
    margin-right: 0.7em;
    margin-top: 0.4em;
}
#checkbox:checked ~ .task-items {
    background-color: rgba(191, 191, 191, 1);
}
#no-task-container {
    display: none;
    height: 15vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: rgba(191, 191, 191, .5);
    border-radius: 5px;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
}
#task-img {
    height: 10vh;
    margin-left: 50px;
}
#no-task {
    margin-left: 20px;
    font-size: 1.1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#no-task span {
    font-size: .9em;
    font-weight: normal;
}

/* edit-pop-up-box */
#edit-pop-up-box {
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
#edit-pop-up-content {
    background-color: whitesmoke;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 25% 50% 25%;
}
#question {
    margin: auto;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
}
#task-list {
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#task-list > input {
    width: 90%;
    height: 30px;
}
#options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}
#options > span {
    margin-right: 10px;
    cursor: pointer;
}

/* delete pop up box */
#delete-pop-up-box {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
#delete-pop-up-content {
    background-color: #dde3ed;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 30% 40% 30%;
}
#task-list {
    border-top: 1px solid #b8b9ba;
    border-bottom: 1px solid #b8b9ba;
}
#task-list > p {
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    user-select: none;
}
#no, #yes {
    font-family: 'Trebuchet MS', sans-serif;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 1.1em;
    color: whitesmoke;
    border-radius: 4px;
}
#no {
    background-color: #e62d27;
}
#yes {
    background-color: #1db847;
}
/* footer */
#credit-container {
    height: 50px;
}
#credit-text {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width: 750px) {
    .header-container {
        height: 12vh
    }
    .header-text {
        font-size: 2em;
    }
    #main-container {
        width: 70%;
    }
    #no-task-container {
        justify-content: center;
    }
    #task-img {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .header-container {
        height: 8vh;
    }
    .header-text {
        font-size: 1.5em;
    }
    #main-container {
        width: 90%;
    }
    #btn {
        background-color: rgba(10, 247, 101, .9);
    }
    #no-task-container {
        justify-content: center;
    }
    #task-img {
        margin-left: 0;
        height: 8vh;
    }
    #no-task {
        font-size: 1em;
    }
}
